@model MusiBuy.Common.Models.EventManagementViewModel
@using MusiBuy.Common.Common
@using MusiBuy.Common.Enumeration
@{
	ViewData["Title"] = "Edit Event";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="toolbar" id="kt_toolbar">
	<div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
		<div class="breadcrumb-header justify-content-between">
			<div class="left-content">
				<h1 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">
					Edit Event
					<small class="text-muted fs-6 fw-normal ms-1"></small>
				</h1>
				<partial name="_BreadCrumb" />
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<form asp-action="Edit" method="post" class="form-horizontal formstyle" id="frmUserEdit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div id="display-messages"></div>
			<input asp-for="Id" type="hidden" />

			<div class="row">
				<div class="col-sm-12 col-lg-6">
					<div class="form-group">
						<label asp-for="Title">Title <span class="text-danger">*</span></label>
						<input asp-for="Title" maxlength="50" class="form-control" placeholder="Title" />
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-12 col-lg-6">
					<div class="form-group">
						<label asp-for="CreatorId">Creator<span class="text-danger">*</span></label>
						<select asp-for="CreatorId" asp-items="Model.SelectCreator" class="form-control borderfix">
							<option value="" selected="selected">- Select Creator -</option>
						</select>
						<span asp-validation-for="CreatorId" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="form-group">
						<label asp-for="Description">Description </label>
						<textarea asp-for="Description" class="form-control" placeholder="Description..."></textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-4">
					<div class="form-group">
						<label asp-for="EventTypeId">Event Type<span class="text-danger">*</span></label>
						<select asp-for="EventTypeId" asp-items="Model.SelectEventType" class="form-control borderfix">
							<option value="" selected="selected">- Select Type -</option>
						</select>
						<span asp-validation-for="EventTypeId" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-12 col-lg-8">
					<div class="form-group">
						<label asp-for="Daterange">Event Schedule at <span class="text-danger">*</span></label>
						<input type="text" id="daterange" name="daterange" class="form-control" value="@Model.Daterange" />
						@* <input type="text" id="daterange" name="daterange" class="form-control" /> *@
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-6">
					<div class="form-group">
						<label>Duration</label>
						<input type="text" asp-for="Duration" id="Duration" name="Duration" class="form-control" readonly="true" />
					</div>
				</div>
				<div class="col-sm-12 col-lg-6">
					<div class="form-group">
						<label asp-for="StatusId">Status<span class="text-danger">*</span></label>
						<select asp-for="StatusId" asp-items="Model.SelectStatus" class="form-control borderfix">
							<option value="" selected="selected">- Select Status -</option>
						</select>
						<span asp-validation-for="StatusId" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="form-group">
						<label asp-for="RecordingURL">Recording URL </label>
						<input type="text" asp-for="RecordingURL" class="form-control" />
					</div>
				</div>
			</div>

			<div class="form-actions">
				<button name="btnSubmit" type="submit" class="btn btn-primary" id="btnSubmit" value="Save">
					Update
				</button>
				<a asp-action="Index" class="btn btn-custom m-1">Back</a>
			</div>
		</form>
	</div>
</div>
@section Scripts {
	<script src="@Url.Content("~/js/user-bundle.js")"></script>
	<script src="~/js/custom/eventmanagement.js"></script>

	<link href="~/css/custom/bootstrap-tagsinput.css" rel="stylesheet" />
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

	<!-- Moment.js -->
	<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

	<!-- Date Range Picker JS & CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	
}